/* CSS for Memory Match and High Scores pages */




.titl{
    padding: 30px;
}

.status-panel{
    margin-bottom: 20px;



}
.section{
    min-height: 100vh;
}

#board{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px ;
    max-width: 500px;

   
    margin: 30px auto;
}

.card{
    width: 100px;
    height:100px;
    position: relative;
    background-color: rgb(65, 90, 112);
    cursor: pointer;
    transform-style: preserve-3d;

}

.card.flipped{
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-back {
    background-color: #595858;
    color: white;
}

.card-front {
    background-color: #363636;
    color: white;
    transform: rotateY(180deg);
}


.card-matched .card-front {
    background-color: #48c774;
    border-color:  #48c774;
}