/* CSS for Memory Match and High Scores pages */




.titl{
    padding: 30px;
}

.status-panel{
    padding: 30px;
    width: 300px;
    height: 300px;



}
.section{
    width:400px;
    height: 300px;
}

#board{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-gap:20px 20px;
    justify-content: center;
   
    margin-top: 20px;
}

.card-item{
    width: 100px;
    height:100px;
    position: relative;
    background-color: rgb(65, 90, 112);
    cursor: pointer;
    transform-style: preserve-3d;

}

.card-item.is-flipped{
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-back {
    background-color: #363636;
    color: white;
}


.card-front {
    background-color: #00d1b2;
    color: white;
    transform: rotateY(180deg);
}


.card-item.is-matched .card-front {
    background-color: #48c774;
}