/* CSS for Memory Match and High Scores pages */




.titl{
    padding: 30px;
}

.status-panel{
    padding: 30px;
    width: 300px;
    height: 300px;



}
.section{
    width:400px;
    height: 300px;
}

#board{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    max-width: 600px;
    margin: auto;
}
