/* CSS for Memory Match and High Scores pages */




.titl{
    padding: 30px;
}

.status-panel{
    margin-bottom: 20px;



}
.section{
    min-height: 100vh;
}

#board{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px ;
    max-width: 500px;
    margin: 12px ;

   

}

.card{
    width: 130px;
    height:100px;
    border-radius: 20px;
    cursor: pointer;
    transform-style: preserve-3d;

}

.card.flipped{
    transform: rotateY(180deg);
   
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-back {
    background-color: rgb(30, 43, 68);
    color: white;
}

.card-front {
    transform: rotateY(180deg);
}


.card.matched .card-front {
    background-color: rgb(208, 250, 229);
    border: 2px solid #48c774;
}



.card.wrong{
    background-color: rgb(238, 154, 154);
    border: 2px solid #ef2222;
}